.tfx-table {
  table {
    width: 100%;

    caption: {
      font-weight: bold;
    }

    thead {

      tr {

        th {
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
}
